* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    padding-left: 1200px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.flexbox-container2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
}

body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: black;
}

h3 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.rounded {
    border-top: 8px solid white;
    border-radius: 5px;
}

main {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 500px;
}

header {
    padding-left: 150px;
    padding-right: 150px;
    position: fixed;
    background-color: black;
}

h1 {
    font-size: 100;
    color: white;
}

p {
    font-size: 50;
    color: white;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
}

.page {
    height: 1400px;
}

a {
    color: white;
    text-decoration: none;
}

#firstpagetext {
    margin-bottom: 300px;
}

#otherpagetext {
    margin-top: 400px;
}

 #cv {
     font-size: 50;
     text-align: center;
 }

img {
    background-color: white;
}