* {
    margin: 0;
    padding: 0;
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 25px;
}

body {
    padding: 20px;
}

h3 {
    background-color: blue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.rounded {
    border-top: 8px solid black;
    border-radius: 5px;
}

main {
    padding-left: 150px;
    padding-right: 150px;
}

header {
    padding-left: 150px;
    padding-right: 150px;
}

h1 {
    font-size: 140;
}

.page {
    height: 1200px;
    margin-top: 100px;
}

