* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.flexbox-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100%;
    flex-wrap: wrap;
}

nav {
    width: 100%;
}

.flexbox-container2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    padding-top: 150px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.flexbox-container3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    flex-wrap: wrap;
}

.introductionflexbox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 100px;
    flex-wrap: wrap;
}

.projectflexbox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 200px;
    flex-wrap: wrap;
}

.projectflexbox2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    background-color: black;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
}

h3 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.rounded {
    border-top: 8px solid white;
    border-radius: 5px;
}

main {
    padding-top: 400px;
}

h1 {
    font-size: 100;
    color: white;
}

p {
    font-size: 50;
    color: white;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
}

.page {
    min-height: 1000px;
}

a {
    color: white;
    text-decoration: none;
}

#_nology-link {
    color: red;
}

#firstpagetext {
    margin-bottom: 300px;
}

#otherpagetext {
    margin-top: 400px;
}

 img {
    padding: 10px;
 }

.iconpadding {
    padding: 50px
}



 @media screen and (max-width: 1205px) {
     .flexbox-container {
        justify-content: space-evenly;
     }

     body {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 60;
        text-align: center;
    }

    p {
        font-size: 30;
        text-align: center;
    }
}

@media screen and (max-width: 890px) {
    .flexbox-container {
       justify-content: space-evenly;
       flex-direction: column;
       align-items: center;
    }

    p {
        padding-top: 200px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 750px) {
    p {
        padding-top: 200px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

#me {
    width:180px;
    height:240px;
}

.white-text {
    color: white;
}

.centered {
    align-items: center;
}

.newchapterpadding {
    padding-bottom: 200px;
}

.picturespacing {
    padding-top: 100px;
}

.whiteborder {
    border: 2px solid white;
}