* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.flexbox-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100%;
    flex-wrap: wrap;
}

nav {
    width: 100%;
}

.flexbox-container2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    padding-top: 150px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.flexbox-container3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    padding-top: 300px;
    flex-wrap: wrap;
}

.projectflexbox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.projectflexbox2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row
}

body {
    background-color: black;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
}

h3 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.rounded {
    border-top: 8px solid white;
    border-radius: 5px;
}

main {
    padding-top: 400px;
}

h1 {
    font-size: 100;
    color: white;
}

p {
    font-size: 50;
    color: white;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
}

.page {
    min-height: 1400px;
}

a {
    color: white;
    text-decoration: none;
}

#_nology-link {
    color: red;
}

#firstpagetext {
    margin-bottom: 300px;
}

#otherpagetext {
    margin-top: 400px;
}

 img {
    padding: 10px;
 }

 @media screen and (max-width: 1205px) {
     .flexbox-container {
        justify-content: space-evenly;
     }
}

@media screen and (max-width: 890px) {
    .flexbox-container {
       justify-content: space-evenly;
       flex-direction: column;
       align-items: center;
    }
}

#me {
    width:128px;
    height:128px;
    align-items: flex-end;

}